header {

    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-bottom: 2px solid #eee;
    
}

.inicio {
    width: 500px;
    margin: 0 auto;
    text-align:center;
}

div {

    width:900px;
	height:900px;
	overflow:hidden;
	padding-top: 27px;
	padding-left: 24px;
}

div h1 {
    position: absolute;
    left: 500px;
    top: 180px;
    /*background: white;*/
    margin: 2px 0;
    padding: 2px;
}

div img {
    position: absolute;
    left: 20px;
    top: 150px;
    /*background: white;*/
    margin: 2px 0;
    padding: 2px;
}

div a {
    position: absolute;
    left: 500px;
    top: 320px;
    /*background: white;*/
    margin: 2px 0;
    padding: 2px;
}


nav {
    
    position: absolute;
    right: 5px;
    top: 0px;
    /*background: white;*/
    margin: 20px 0;
    padding: 10px;
  }

 
nav a {
        text-decoration: none;
        background: #333;
        border-radius: 5px;
        color: white;
        padding: 5px 10px;
      }

