.cadastro {
    width: 500px;
    height: 1050px;
    text-align: center;
    background-color: rgb(199, 199, 196,0.5);
    border-radius: 4px;
    margin: 0 auto;  
    margin: 20px auto;
    margin-top: 100px;
    }

    .cadastro img {
    width: 120px;  
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
    }
     
    input[type="text"], input[type="password"], input[type="email"]{
    height: 45px;  
    width: 300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 20px;
    }
     
    .btn-cadastro {
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    background-color: #16A085;
    margin:-2px;
    }

    a{
      color: black;
      margin-bottom: 10px;
    }

    label{
        font-size: 18px;
        margin: 2px 49% 0px 0px;
        margin-bottom: 10px;
      }

      .labelMaior{
        font-size: 18px; 
        margin: 2px 29% 0px 0px;
      }

      .labelMenor{
        font-size: 18px; 
        margin: 2px 35% 0px 0px;
      }

      .labelRazao{
        font-size: 18px; 
        margin: 2px 39% 0px 0px;
      }